<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <!-- Language Toggle Switches -->
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Arabic</string>
            <key>Key</key>
            <string>symbol_arabic</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
	<dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Burmese</string>
            <key>Key</key>
            <string>symbol_burmese</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
	<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hebrew</string>
			<key>Key</key>
			<string>symbol_hebrew</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hindi</string>
			<key>Key</key>
			<string>symbol_hindi</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Japanese</string>
			<key>Key</key>
			<string>symbol_japanese</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	<dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Khmer</string>
            <key>Key</key>
            <string>symbol_khmer</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Korean</string>
			<key>Key</key>
			<string>symbol_korean</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Thai</string>
			<key>Key</key>
			<string>symbol_thai</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Chinese</string>
			<key>Key</key>
			<string>symbol_chinese</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <!-- Add additional languages here -->
    </array>
</dict>
</plist>
